# Terraform
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
*.tfvars
*.tfvars.json
.terraform.tfstate.lock.info
.terraform.lock.hcl
crash.log
crash.*.log
.terraform/
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Node
node_modules/
dist/

# OS
.DS_Store

# Environment
.env
.env.*
